.menu > li > a {
    color: $black;
}

.menu .active > a {
    color: #0a0a0a;
    background: none;
    font-weight: inherit;
}

.page-template-hero-homepage #content #inner-content {
    padding: 1rem 7rem;
}

.Family_First_Art {
    width: 81%;
    margin-bottom: 24px;
}


@media only screen and (max-width: 640px) {
    .page-template-hero-homepage #content #inner-content {
        padding: 1rem 1rem;
    }
}

// Social Share

.share-book {
    text-align: center;
    margin-bottom: 24px;
}

.share-book a {
    text-align: center;
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 0 6px;
    border-radius: 150px;
    color: #fff;
    padding: 13px;
}
.share-book a:hover {
    background: #e0c9a8;
    color: #090f15;
}
.share-book .facebook {
    background: #3c6868;
}
.share-book .twitter {
    background: #374e58;
}
.share-book .pinterest {
    background: #747f7a;
}
.share-book .google {
    background: #183030;
}

// Footer

.footer {
    text-align: center;
}

